@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

body {
  /* background-color: violet; */
  width: 840px;
  height: max-content;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #eaeaea; */
  /* border: 1px solid black; */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.title-name {
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #7c44e3;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
}

.title-name span {
  /* background-color: aquamarine; */
  font-size: 1.125rem;
  color: #eaeaea;
}

header p {
  /* background-color: antiquewhite; */
  width: 80%;
  margin: 20px 0;
  line-height: 24px;
}

.dropdown-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.dropdown-menu p {
  font-size: 0.9rem;
}

/* Luas Persegi */
.luas-persegi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.luas-persegi span {
  height: auto;
  width: 1.2px;
  margin: 0 24px;
  background-color: #e5e5e5;
}

.container {
  display: flex;
  flex-direction: row;
  width: 55%;
  /* gap: 24px; */
  justify-content: space-between;
}

.image-persegi {
  width: 200px;
  height: 200px;
}

.description {
  line-height: 24px;
}

.description p {
  margin-top: 12px;
}

.description ul {
  margin-top: 12px;
}

.list-menu {
  padding: 6px 12px;
}

.btn-hitung-luas {
  cursor: pointer;
}

.operation {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 45%;
  /* background-color: aquamarine; */
}

.user-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#input-sisi-luas {
  border: 1px solid #252525;
  width: 100%;
  border-radius: 4px;
  padding: 12px 24px;
}

#input-sisi-luas:focus {
  border: 1px solid #7c44e3;
  /* outline: none; */
}

.btn-hitung-luas {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #7c44e3;
  color: #fff;
  font-size: 1rem;
  border: none;
}

.btn-reset-luas {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: rgb(237, 53, 87);
  color: #fff;
  font-size: 1rem;
  border: none;
}

.output_luas {
  visibility: hidden;
}

.output_luas .hasil-luas {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Keliling Persegi */
.keliling-persegi {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.keliling-persegi span {
  height: auto;
  width: 1.2px;
  margin: 0 24px;
  background-color: #e5e5e5;
}

#input-sisi-keliling {
  border: 1px solid #252525;
  width: 100%;
  border-radius: 4px;
  padding: 12px 24px;
}

#input-sisi-keliling:focus {
  border: 1px solid #7c44e3;
  outline: none;
}

.btn-hitung-keliling {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #7c44e3;
  color: #fff;
  font-size: 1rem;
  border: none;
}

.btn-reset-keliling {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: rgb(237, 53, 87);
  color: #fff;
  font-size: 1rem;
  border: none;
}

.output_keliling {
  visibility: hidden;
}

.output_keliling .hasil-keliling {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Footer */
footer {
  margin-top: 24px;
  font-size: 0.85rem;
  text-align: center;
}
